
@{
    Layout = "_LayoutMain";
}
@section css {
    <link href="~/node_modules/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/node_modules/toastr/build/toastr.css" rel="stylesheet" />
    @RenderSection("css", false)
}
@section javascript {
    <script src="~/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/node_modules/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="~/node_modules/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/lib/validate/jquery.validate.min.js"></script>
    <script src="~/lib/validate/localization/messages_zh.min.js"></script>
    <script src="~/js/longbow.validate.js" asp-append-version="true"></script>
    <script src="~/node_modules/toastr/toastr.js"></script>
    <script src="~/node_modules/bootbox/dist/bootbox.min.js"></script>

    <script src="~/js/common.js"></script>
    @RenderSection("javascript", false)
}
@section modal {
    <div class="modal fade" id="dialogNew" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" data-toggle="LgbValidate" data-valid-button="#btnSubmit" data-valid-modal="#dialogNew">
                @RenderSection("modal", false)
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        <span>关闭</span>
                    </button>
                    <button type="button" class="btn btn-primary" id="btnSubmit">
                        <i class="fa fa-save"></i>
                        <span>保存</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("customModal", false)
}
@RenderBody()
